.btn_menuTwo {
    width: 100px;
    background-color: #232b37;
    position: fixed;
}

#click_fixed {
    cursor: pointer;
    position: fixed;
    z-index: 7;
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    padding-top: 30px;
    background-color: #232b37;
}

#click_fixed.open:hover #stick1 {
    width: 18px;
    background-color: #f56040;
}
#click_fixed.open:hover #stick2 {
    width: 31px;
    background-color: #f56040;
}
#click_fixed.open:hover #stick3 {
    width: 25px;
    background-color: #f56040;
}
#click_fixed.open:hover .label_stick {
    color: #f56040;
}

.booknowHomeTwo {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 7;
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    padding-top: 25px;
    background-color: #232b37;
}

.booknowHomeTwo:hover {
    color: #f56040;
}

.booknow {
    font-weight: 500;
    text-transform: capitalize;
    line-height: 13px;
    letter-spacing: 2px;
    font-size: 14px !important;
}
